body {
    background-color: #8391a1;
}

::selection {
    color: black;
    background: rgb(0, 255, 0);
}

#body-text {
    font-family: 'Quicksand', sans-serif;
}

#body-text a {
    color: rgb(0, 255, 0);
    text-decoration: none;
}

/* Under Construction */

@font-face {
    font-family: sans-ms;
    src: url(/assets/ComicSansMS3.woff2);
}

#down-under {
    width: fit-content;
    height: fit-content;
    padding: 0px 10px;
    margin: auto;
    background: rgba(255 ,69 ,0 , 0.5);
    border-radius: 10px;
    font-family: sans-ms;
    text-align: center;
}

/* Projects */

#thing {
    transition: 0.25s;
    font-size: 1.5em;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: gray;
    padding: 0px 5px;
    border-radius: 5px;
}

#thing:hover {
    transition: 0.25s;
    transform: scale(1.04);
}

/* Navigation Bar */

#nav-bar {
    background-color: gray;
    overflow: hidden;
}
#nav-item {
    display: block;
    float: left;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-family: 'Quicksand', sans-serif;
    position: sticky;
    transition: 0.25s;
}
#nav-item:hover {
    color: white;
    background-color: rgb(64, 64, 64);
}
.active { background-color: rgb(0, 255, 0); }
.active:hover { background-color: rgb(0, 127, 0) !important; }
#nav-item:last-child { float: right; }