#nav-bar-item {
    float: left;
    border-right: 1px solid black;
    transition: 0.25s;
}

#nav-bar-item a:hover {
    background-color: rgb(64, 64, 64);
    color: white !important;
    transition: 0.25s;
}

#nav-bar-links {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: black;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    position: -webkit-sticky;
    position: sticky;
    position: -moz-sticky;
    top: 0;
    width: 100%;
}

#nav-bar-item:last-child {
    float: right;
    border-right: none;
    border-left: 1px solid black;
}

.active {
    background-color: rgb(0, 255, 0);
    color: black;
}

.active a:hover {
    background-color: rgb(0, 128, 0) !important;
    color: white !important;
}